html, body{
    height: 100%;
}

html{
    scroll-behavior: smooth;
}
.main-section, .fuel-prices{
    height: 100%;
    
}

.main-section, .fuel-prices{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}